---
import Layout from "../layouts/Layout.astro";
import Copyright from "../components/Copyright.astro";
import MainContent from "../components/MainContent.astro";
// import data from "../lib/data.json";
// import Header from "../components/Header.astro";
// import HeaderList from "../components/HeaderList";
// const { contents } = data;
const data = await Astro.glob("./*.md");
const contents = data.map(({ frontmatter }) => frontmatter);
---

<Layout
  title="YAAD.inc"
  description="YAAD.inc - Creative Studio. クリエイティブスタジオとして、ブランディング、デザイン、映像制作など様々な領域で活動しています。"
>
  <!-- <Header>
    <HeaderList client:load contents={contents} />
  </Header> -->
  <main class="py-16 max-w-full flex-1">
    {
      contents.map(({ id, title, categories, release, img, video }, index) => {
        return (
          <MainContent
            id={id}
            index={index}
            title={title}
            categories={categories}
            release={release}
            img={img}
            video={video}
          />
        );
      })
    }
  </main>
  <footer
    class="fixed bottom-0 left-0 w-full flex justify-between px-[1.8rem] pb-[2.4rem] md:px-[2.4rem] md:pb-8"
  >
    <div class="bg-white/50 w-[0.2rem] h-[1.8rem] relative">
      <span
        class="absolute top-0 left-0 w-full h-[0.4rem] bg-white animate-[scroll_2s_linear_infinite]"
      ></span>
    </div>
    <Copyright />
  </footer>
</Layout>
