---
import { Image } from "astro:assets";
const { index, id, img, title, categories, release, video } = Astro.props;
const assets = import.meta.glob<{ default: ImageMetadata }>("../assets/**/*");

let videoSrc;
const loadVideo = async () => {
  videoSrc = videoAsset.default;
};
const videoAsset = await assets[`../assets/${id}/${video}`]();
await loadVideo();
---

<div
  id={`main-content-${index}`}
  class="relative h-screen w-full flex items-center"
>
  <a href={`/${("0" + (index + 1)).slice(-2)}`}>
    <div class="flex shrink-0 overflow-hidden">
      <div class="flex shrink-0 animate-[ticker_20s_-10s_linear_infinite]">
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
      </div>
      <div class="flex shrink-0 animate-[ticker2_20s_linear_infinite]">
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
        <Image
          class="shrink-0 h-136 w-136 px-[0.7rem] md:px-[0.85rem] md:h-[51.7rem] md:w-[51.7rem]"
          src={assets[`../assets/${id}/${img}`]()}
          alt="main-image"
        />
      </div>
    </div>
    <div
      class="text-white font-neue font-semibold capitalize flex flex-col gap-[0.6rem] -mt-[2.2rem] relative z-10 md:gap-[0.7rem] md:-mt-[9.8rem] md:ml-56"
    >
      <h1 class="text-[4rem] leading-[100%] md:text-[9.6rem]">{title}</h1>
      <div class="flex flex-col gap-[1.4rem] md:gap-[1.6rem]">
        <p class="text-[1.3rem] leading-[100%] md:text-[1.8rem]">
          Release - {release}
        </p>
        <div class="flex flex-wrap gap-[0.7rem] md:gap-[1rem]">
          {
            categories.map((category) => {
              return (
                <span class="inline-block text-[1.2rem] py-[0.7rem] px-[1rem] font-abril border border-white text-[1.3rem] leading-[100%] md:text-[1.8rem] font-medium px-3 py-1 rounded-full">
                  {category.toUpperCase()}
                </span>
              );
            })
          }
        </div>
      </div>
    </div>
  </a>
  <video src={videoSrc} autoplay loop muted playsinline></video>
</div>
<script>
  import { activeIndex } from "../lib/store";
  document.addEventListener("DOMContentLoaded", function () {
    const targets = document.querySelectorAll('[id^="main-content-"]');
    targets.forEach(function (target, index) {
      const video = target.querySelector("video")!;
      var observer = new IntersectionObserver(
        function (entries) {
          entries.forEach(function (entry) {
            if (entry.isIntersecting) {
              activeIndex.set(index);
              video.style.opacity = "1";
            } else {
              video.style.opacity = "0";
            }
          });
        },
        {
          threshold: 0.5,
        },
      );
      observer.observe(target);
    });
  });
</script>
